<div class="container">
  <h6 *ngIf="showInfoBox" class="infoBox">
    Keep in mind that the only available Makes and Models to choose from will be the ones that match the existing Ads.
  </h6>
  <section class="form-section">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="title">
        <h4>Find your perfect car</h4>
        <fa-icon
          class="fa-icon"
          [icon]="faQuestionCircle"
          (mouseover)="onHoverInfo()"
          (mouseleave)="onLeaveInfo()"
        ></fa-icon>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Region</mat-label>
        <mat-select formControlName="region">
          <mat-option *ngFor="let region of regions$ | async | sortRegions" value="{{ region.id }}">
            {{ region.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Condition</mat-label>
        <mat-select formControlName="condition">
          <mat-option [value]="condition.NEW">New</mat-option>
          <mat-option [value]="condition.USED">Used</mat-option>
        </mat-select>
      </mat-form-field>

      <ng-container *ngIf="ads$ | async as ads">
        <mat-form-field appearance="fill">
          <mat-label>Make</mat-label>
          <mat-select formControlName="make">
            <mat-option *ngFor="let make of ads | sortMakes" value="{{ make }}">{{ make }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" (click)="verifyIfMakeIsPicked()">
          <mat-label>Model</mat-label>
          <mat-select formControlName="model">
            <mat-option *ngFor="let model of ads | getModelsPerMake: formGroup.controls.make.value" value="{{ model }}">
              {{ model }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <mat-form-field appearance="fill">
        <mat-label>Min-price</mat-label>
        <input formControlName="minPrice" matInput type="number" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Max-price</mat-label>
        <input formControlName="maxPrice" matInput type="number" />
      </mat-form-field>

      <button type="submit" class="btn">Search</button>
    </form>
  </section>
</div>
