form
   padding: 24px 16px

.upload-image
   width: 120px
   height: 120px
   box-shadow: 0 2px 8px rgb(0 0 0 / 15%)
   border-radius: 8px
   background-size: cover
   background-repeat: no-repeat
   cursor: pointer
