<ng-container *ngIf="user$ | async as user; else loading">
  <form [formGroup]="formGroup">
    <app-image-upload></app-image-upload>

    <div class="fields">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput type="text" name="firstName" formControlName="firstName" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput type="text" name="lastName" formControlName="lastName" />
      </mat-form-field>

      <div class="actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid" (click)="onSave(user)">
          Save
        </button>
      </div>
    </div>
  </form>
</ng-container>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
