:host
   display: flex
   min-height: 100vh
   flex-direction: column
   background: #c6cbdeba
   background-image: radial-gradient(#222B5E 1px, transparent 0)
   background-size: 1.5rem 1.5rem
   background-position: -20px -20px

   main
      flex: 1
