<section class="form-section">
  <div class="title">
    <h2>Place an advert on Auto Trader</h2>
    <h4>Get the price you deserve</h4>
  </div>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Make</mat-label>
      <input formControlName="make" matInput />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input formControlName="price" matInput type="number" />
    </mat-form-field>

    <button mat-ripple type="submit" class="btn btn-success">Create</button>
  </form>
</section>
<section class="image-section"></section>
