// colors
$white: #ffffff
$text-primary: hsl(0, 0%, 71%)
$bg-primary: hsl(240, 9%, 9%)

// spacing
$spacing4px: 4px
$spacing8px: 8px
$spacing16px: 16px
$spacing32px: 32px

// shadows
$cardBoxShadow: 0 2px 8px rgb(0 0 0 / 15%)
$cardBorderRadius: 8px
