<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" *ngIf="!uploading; else loading">
  <div>
    <h4>Boost your car sale</h4>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Make</mat-label>
    <input formControlName="make" matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Model</mat-label>
    <input formControlName="model" matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Year</mat-label>
    <input formControlName="year" matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Region</mat-label>
    <mat-select formControlName="region">
      <mat-option *ngFor="let region of regions$ | async | sortRegions" value="{{ region.id }}">
        {{ region.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Condition</mat-label>
    <mat-select formControlName="condition">
      <mat-option [value]="condition.NEW">New</mat-option>
      <mat-option [value]="condition.USED">Used</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Engine Size</mat-label>
    <input formControlName="engine" matInput type="number" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fuel</mat-label>
    <mat-select formControlName="fuel">
      <mat-option [value]="fuel.PETROL">Petrol</mat-option>
      <mat-option [value]="fuel.DIESEL">Diesel</mat-option>
      <mat-option [value]="fuel.ELECTRIC">Electric</mat-option>
      <mat-option [value]="fuel.LPG">Lpg</mat-option>
      <mat-option [value]="fuel.CNG">Cng</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Transmission</mat-label>
    <mat-select formControlName="transmission">
      <mat-option [value]="transmission.AUTOMATIC">Automatic</mat-option>
      <mat-option [value]="transmission.MANUAL">Manual</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <input formControlName="price" matInput type="number" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Mileage</mat-label>
    <input formControlName="mileage" matInput type="number" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Color</mat-label>
    <input formControlName="color" matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Currency</mat-label>
    <mat-select formControlName="currency">
      <mat-option [value]="currency.EUR">EUR</mat-option>
      <mat-option [value]="currency.USD">USD</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Contact number</mat-label>
    <input formControlName="contactNumber" matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <div class="upload" (click)="uploadFile.click()">
    <button type="button" mat-raised-button color="primary">Upload images</button>
    <input #uploadFile type="file" accept="image/*" hidden multiple (input)="onUploadInput($event)" />
  </div>

  <button type="submit" class="btn">Create now</button>
</form>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
