@import 'variables';

fa-stack {
  width: 2em;
  border-radius: 50%;

  fa-icon {
    transition: color 0.2s ease;

    ::ng-deep svg {
      width: 2em;
    }
  }
}

:host {
  display: inline-flex;
  cursor: pointer;

  &:not(:hover) {
    fa-stack {
      fa-icon {
        &:last-child {
          color: $white !important;
        }
      }
    }
  }

  &:hover {
    fa-stack {
      fa-icon {
        &:first-child {
          color: $white !important;
        }
      }
    }
  }
}
