@use '../../../../../assets/styles/variables.sass'

:host
  display: flex
  cursor: pointer
  align-items: center

  fa-stack
    width: 1.7em
    border-radius: 50%

  &:not(:hover)
    fa-icon
      &:last-child
        color: variables.$white !important

  &:hover
    fa-icon
      &:first-child
        color: variables.$white !important

fa-icon
  transition: color 0.3s ease

  ::ng-deep svg 
    width: 1.7em !important

// Do NOT format - SASS Formatter cause wrong indentation

